Source: nginx
Section: httpd
Priority: optional
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Uploaders: Christos Trochalakis <ctrochalakis@debian.org>,
           Ond~Yej Nov_ <onovy@debian.org>,
Build-Depends: debhelper (>= 10),
               libbrotli-dev,
               libexpat-dev,
               libgd-dev,
               libgeoip-dev,
               libhiredis-dev (>= 0.13),
               liblua5.1-0-dev [!i386 !amd64 !kfreebsd-i386 !armel !armhf !powerpc !powerpcspe !mips !mipsel !arm64 !ppc64el],
               libluajit-5.1-dev [i386 amd64 kfreebsd-i386 armel armhf powerpc powerpcspe mips mipsel arm64 ppc64el],
               libmaxminddb-dev,
               libmhash-dev,
               libpam0g-dev,
               libpcre3-dev,
               libperl-dev,
               libssl-dev,
               libxslt1-dev,
               po-debconf,
               quilt,
               zlib1g-dev
Standards-Version: 4.5.0
Homepage: https://nginx.net
Vcs-Git: https://salsa.debian.org/nginx-team/nginx.git
Vcs-Browser: https://salsa.debian.org/nginx-team/nginx
Rules-Requires-Root: no

Package: nginx
Architecture: all
Depends: nginx-core (<< ${source:Version}.1~) | nginx-full (<< ${source:Version}.1~) | nginx-light (<< ${source:Version}.1~) | nginx-extras (<< ${source:Version}.1~),
         nginx-core (>= ${source:Version}) | nginx-full (>= ${source:Version}) | nginx-light (>= ${source:Version}) | nginx-extras (>= ${source:Version}),
         ${misc:Depends}
Description: small, powerful, scalable web/proxy server

Package: nginx-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}
Description: small, powerful, scalable web/proxy server - documentation

Package: nginx-common
Architecture: all
Multi-Arch: foreign
Depends: lsb-base (>= 3.0-6), ${misc:Depends}
Suggests: fcgiwrap, nginx-doc, ssl-cert
Description: small, powerful, scalable web/proxy server - common files

Package: nginx-light
Architecture: any
Depends: libnginx-mod-http-echo (= ${binary:Version}),
         nginx-common (= ${source:Version}),
         iproute2,
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: nginx (<< 1.4.5-1)
Provides: httpd, httpd-cgi, nginx
Conflicts: nginx-extras, nginx-core
Suggests: nginx-doc (= ${source:Version})
Description: nginx web/proxy server (basic version)

Package: libnginx-mod-http-geoip2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Recommends: nginx,
Description: GeoIP2 HTTP module for Nginx

Package: libnginx-mod-stream
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Recommends: nginx,
Description: Stream module for Nginx

Package: libnginx-mod-stream-geoip2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 libnginx-mod-stream (= ${binary:Version}),
Recommends: nginx,
Description: GeoIP2 Stream module for Nginx

Package: libnginx-mod-http-echo
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Recommends: nginx,
Description: Bring echo and more shell style goodies to Nginx

Package: libnginx-mod-http-headers-more-filter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Recommends: nginx,
Description: Set and clear input and output headers for Nginx

Package: libnginx-mod-http-naxsi
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WAF Naxsi
